<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>AnyCPU</Platform>
    <PublishDir>bin\Release\app.publish\</PublishDir>
    <PublishUrl>bin\Release\app.publish\</PublishUrl>
    <Install>true</Install>
    <InstallFrom>Disk</InstallFrom>
    <UpdateEnabled>true</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateInterval>7</UpdateInterval>
    <UpdateIntervalUnits>Days</UpdateIntervalUnits>
    <UpdatePeriodically>false</UpdatePeriodically>
    <MapFileExtensions>true</MapFileExtensions>
    <ApplicationRevision>0</ApplicationRevision>
    <ApplicationVersion>1.0.0.0</ApplicationVersion>
    <BootstrapperEnabled>true</BootstrapperEnabled>
    <CreateWebPageOnPublish>false</CreateWebPageOnPublish>
    <OpenBrowserOnPublish>false</OpenBrowserOnPublish>
    <UseApplicationTrust>true</UseApplicationTrust>
  </PropertyGroup>
</Project>
