<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="Outlook Purview Label Column"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="open-source"
           UpgradeCode="B2C3D4E5-F6A7-8901-BCDE-F23456789012">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Outlook Purview Label Column" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <!-- VSTO runtime prerequisite -->
    <PropertyRef Id="VSTORUNTIMEREDIST" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="OutlookPurviewColumn">
          <Component Id="AddInFiles" Guid="C3D4E5F6-A7B8-9012-CDEF-345678901234">
            <File Source="..\src\OutlookPurviewColumn\bin\Release\OutlookPurviewColumn.dll" />
            <File Source="..\src\OutlookPurviewColumn\bin\Release\OutlookPurviewColumn.vsto" />
            <File Source="..\src\OutlookPurviewColumn\bin\Release\OutlookPurviewColumn.dll.manifest" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <!-- Register the VSTO add-in for the machine -->
    <Component Id="RegistryEntries" Guid="D4E5F6A7-B8C9-0123-DEF4-567890123456">
      <RegistryKey Root="HKLM"
                   Key="Software\Microsoft\Office\Outlook\Addins\OutlookPurviewColumn">
        <RegistryValue Name="Description"
                       Value="Adds Purview sensitivity label column to Outlook"
                       Type="string" />
        <RegistryValue Name="FriendlyName"
                       Value="Purview Label Column"
                       Type="string" />
        <RegistryValue Name="LoadBehavior"
                       Value="3"
                       Type="integer" />
        <RegistryValue Name="Manifest"
                       Value="[INSTALLFOLDER]OutlookPurviewColumn.vsto|vstolocal"
                       Type="string" />
      </RegistryKey>
    </Component>

    <ComponentGroup Id="ProductComponents">
      <ComponentRef Id="AddInFiles" />
      <ComponentRef Id="RegistryEntries" />
    </ComponentGroup>
  </Product>
</Wix>
